# Dependency directories
**/node_modules/
**/jspm_packages/
**/web_modules/

# Maven build output
**/target/
**/classes/

# IDE configurations
.idea/
.vscode/
*.iml
*.iws
*.ipr
.settings/
.classpath
.project

# OS temporary files
.DS_Store
Thumbs.db

# Frontend build output
**/dist/
**/build/
.svelte-kit/
.next/
.nuxt/

# Local env files
.env*.local
.env


# Archivos compilados y empaquetados (Maven)
target/
*.class
*.war
*.jar

# Archivos autogenerados de Tomcat / Jasper
work/
Catalina/

# Configuraciones locales de IntelliJ IDEA
.idea/
*.iml
*.iws

# Archivos del sistema operativo (Mac/Windows)
.DS_Store
Thumbs.db